/*******************************************************************************
Slate Theme for GitHub Pages
by Jason Costello, @jsncostello
*******************************************************************************/

@import url(github-light.css);

/*******************************************************************************
MeyerWeb Reset
*******************************************************************************/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*******************************************************************************
Theme Styles
*******************************************************************************/

body {
  box-sizing: border-box;
  background: #fff;
	color: #999;
	font-family: sans-serif;
	font-size: 18px;
	line-height: 1.6;
  letter-spacing: 1px;
}



/**
 * Typography
 */

.copy {
  max-width: 680px;
  margin: auto;
  padding: 40px 0 40px 0;
}

.dark {
color: #515151;	
}


/**
 * Header
 * - Contains the header image, header text and navigation
 */

.site_header {
    font-size: 14px;
    top: 0px;
    position: fixed;
    min-height: 60px;
    z-index: 999;
    width: 100%;
    background-color: #fff;
    opacity: 0.95;
    padding: 15px 35px 15px 35px;
}


/**
 * Header image and header text
 */


.header_text {
	position: fixed;
	top: 0px;
	left: 0px;
	z-index: 111;
}


.header_text a { 
	text-decoration: none;
}

.header_text a:hover {
	color: #999;
	border-bottom: 0;
}

.header_text a:active {
	color: #999;
	border-bottom: 0;
}


/**
 * Navigation
 * - Contains navigation links and following
 */

.navigation {
	position: relative;
	right: 0px;
        top: 0px;
	z-index: 999;
}


.navigation div {
	display: inline-block;
	margin: 0px 8px 0px 8px;
	opacity: 0.4;
}

.navigation div:hover {
	opacity: 1;
}

.navigation div:active {
	opacity: 0.25;
}

.navigation div.set_link {
	opacity: 1;
}

.navigation div.set_link a {
	color: #000;
}

.navigation div.set_link a:active {
	opacity: 0.25;
}

.navigation .active {
	opacity: 1;
}

.navigation a {
	color: #000;
}

.navigation a:hover,
.navigation a:active {
	border-bottom: 1px solid #000;
}

.navigation div.active a {
	border-bottom: 2px solid #000;
}

body:not([data-bodyview="set"]) .navigation .set_link.active a {
	border-bottom: 1px solid #ddd;
}

body:not([data-bodyview="set"]) .navigation .set_link.active a:hover {
	border-bottom: 1px solid #000;
	color: #000;
}


a {
  text-decoration: none;
  color: inherit;
  text-shadow: none;
  transition: color 0.5s ease;
  transition: text-shadow 0.5s ease;
  -webkit-transition: color 0.5s ease;
  -webkit-transition: text-shadow 0.5s ease;
  -moz-transition: color 0.5s ease;
  -moz-transition: text-shadow 0.5s ease;
  -o-transition: color 0.5s ease;
  -o-transition: text-shadow 0.5s ease;
  -ms-transition: color 0.5s ease;
  -ms-transition: text-shadow 0.5s ease;
}

a:hover, a:focus {
	color: inherit;
	text-decoration: none;
 }

footer a {
  color: #F2F2F2;
  text-decoration: underline;
}

em {
  font-style: italic;
}

strong {
  font-weight: bold;
}

img {
  position: relative;
  margin: 0 auto;
  border: 1px solid #e1e1e1;
  max-width: 100%;
}

.noborder img {
border: 0;	
}


/*******************************************************************************
Full-Width Styles
*******************************************************************************/

.outer {
  max-width: 100%;
}

.inner {
  padding-top: 20px 40px 20px 40px;
  position: relative;
  max-width: 980px;
  margin: 180px auto 180px auto;
  text-align: center;
}


#main_content_wrap {

}

#main_content {

}

#footer_wrap {
  background: #212121;
}


h1 {
  font-weight: normal;
  padding-bottom: 0;
  font-size: 26px;
  color: #515151
}



/*******************************************************************************
Small Device Styles
*******************************************************************************/


/**** header ****/

@media only screen and (max-width: 980px) {
    .site_header .navigation {
    position: relative;
    display: block;
    width: 100%;
    padding: 10px 15px 0px 15px;
    text-align: center;

	}
    
    .site_header .header_text {
    position: relative;
    display: block;
    width: 100%;
    padding: 10px 15px 0px 15px;
    text-align: center;
	}
}


@media screen and (max-width: 480px) {
  body {
    font-size:14px;
  }

  .inner {
    min-width: 320px;
    max-width: 480px;
  }

  h1 {
    font-size: 18px;
  }

  code, pre {
    min-width: 320px;
    max-width: 480px;
    font-size: 11px;
  }

}



/**
 * Thumbnails
 */

body[data-view="index"] .thumbnails {
	display: block;
}

.thumbnails {
	display: none;
	text-align: center;
	padding: 180px 0px 70px 0px;
}

.thumbnail {
	display: block;
	margin: auto;
	position: relative;
	text-align: center;
	vertical-align: top;
    padding-bottom: 60px;
    width: 100%;
}

.thumbnail > a:hover .thumb_title span {

}

.thumbnail > a:active .thumb_title span {

}

/* Move the thumbnail down on click */
.thumbnail > a:active .thumb_image {
	-webkit-transform: translate(0, 2px);
}

.thumbnail.active .thumb_image {
	border: 1px solid #cccccc;
}

.thumbnail .thumb_image {
	/*background-color: #eee;*/
	margin-bottom: 16px;
	position: relative;
}

.thumbnail .thumb_image img {
	border: 0;
	display: block;

  	/*width: 100%;
    min-width: 100%;
    height: auto;*/
    
    margin: auto;
}

.thumbnail .thumb_image.default_thumb {
	background: #333;
	min-height: 200px;
	/*min-width: 700px;*/
}

.thumbnail .thumb_image.default_thumb img {
	display: none;
}

.thumbnail .thumb_image.notitle_notag {
	margin-bottom: 22px;
}

.thumbnail .loading {
	display: none;
	position: absolute;
	top: 15px; left: 15px;
	text-align: center;
	z-index: 3;
}

.thumbnail .thumb_title {
	color: #000;
	font-size: 18px;
	letter-spacing: 1px;
	line-height: 1.4;
}

.thumbnail .thumb_title span {

}

.thumbnail .thumb_tags {
	margin-top: 2px;
	color: #aaa;
	font-size: 11px;
	font-family: sans-serif;
}

.thumbnail .thumb_tags span:after {
	content: ",";
}

.thumbnail .thumb_tags span:last-child:after {
	content: "";
}

.thumbnail .thumb_tags a {
	color: #aaa;
	padding-bottom: 3px;
	text-decoration: none;
}

.thumbnail .thumb_tags a:hover {
	border-bottom: 1px solid #000;
	color: #000;
}

.thumbnail .thumb_tags a:active {
	border-bottom: 1px solid #999;
	color: #999;
}

.thumbnail > a {
	text-decoration: none;
}

.thumbnail .thumb_excerpt {
	display: none;
	font-size: 12px;
	margin-top: 22px;
}
